.logo i {
	color: #fbba00;
}
.content-page {
	margin-left: 0;
}
.footer {
	left: 0;
}
.card {
	border: 1px solid rgba(0,0,0,.125);
}
.btn-sm.go {
	min-height: 20px;
	padding: 0 .5rem;
}
.card-title {
	font-size: 15px;
	color: #454545;
}

.top-section {
	background-color: #121212;
	top: 0;
	height: 50%;
}

.middle-section {
	background-color: #666;
	height: 40%;
	bottom: 10%;
	/*top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);*/
}

.bottom-section {
	background-color: #000;
	bottom: 0;
	height: 10%;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.split {
  width: 100%;
  position: fixed;
  z-index: 1;
  overflow: hidden;	
}

.game-title {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	color: #F0068E;
	font-size: 4vw;
	display: inline-block;
	line-height: 100%;
	margin: 0;
}

.blink {
  -webkit-animation: 2s linear infinite condemned_blink_effect;
  animation: 2s linear infinite condemned_blink_effect;
}

@-webkit-keyframes condemned_blink_effect { 
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  40% {
    visibility: visible;
  }
  60% {
    visibility: hidden;
  }
  80% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }	
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  40% {
    visibility: visible;
  }
  60% {
    visibility: hidden;
  }
  80% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.marquee {
	width: 99%;
	overflow: hidden;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	-webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.messages {
	background: #14283b;
	float: left;
	width: 100%;
	overflow: hidden;
	/*min-height: calc(100% - 9%);
	max-height: calc(100% - 9%);*/
	position: absolute;
	height: 100%;
}

.messages ul {
	padding: 10px;
	overflow: hidden;
	margin-bottom: 0;
}

.messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 5px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 1.1em;
}

.messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}

.messages ul li.sent img {
  margin: 6px 8px 0 0;
}

.messages ul li.sent p {
  background: #435f7a;
  color: #f5f5f5;
}

.messages ul li.sent p.active {
	background: yellow;
	color: #000;
}

.messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}

.messages ul li.replies p {
  background: #f5f5f5;
  float: right;
}

.messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}

.messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px;
  /*max-width: 205px;*/
  width: calc(100% - 35px);	
  line-height: 130%;
  font-size: 2.5vw;	
  text-transform: uppercase;	
}

.main-message {
	width: 100%;
	height: 60%;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	-webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	padding: 0 15px;
}

.main-message h1 {
	margin: 0;
	text-align: center;
	font-size: 12vw;
	display: inline-block;
	line-height: 90%;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

.timer {
	width: 100%;
	height: 15%;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	-webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	position: relative;
	z-index: 1;
}

.timer:after {
	content: "";
	height: 2px;
	background-color: #F0068E;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.colorDefinition {
	background-color: #F0068E;
	width: auto;
	padding: 0 10px;
}

.upcoming-message {
	width: 100%;
	height: 25%;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	-webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	position: relative;
	padding: 0 15px;
}

.upcoming-message .custom-area {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	-webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.upcoming-message h3 {
	margin: 0;
	line-height: 40px;
	font-size: 3vw;
	color: #5f5f5f;
	text-transform: uppercase;
}

.middle-section .row .col-sm-6:first-child {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.middle-section .row .col-sm-6:last-child {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.playcard {
	color: #fff;
	text-align: center;
	position: relative;
	top: -18px;
}

.playcard span {
	margin-bottom: 0;
	display: inline-block;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 30px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.playcard.last span {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.playcard img {
	max-width: 40%;
}

.playcard.last {
	opacity: 0.25;
}

.winner-div {
	position: absolute;
	background: #121212;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	-webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.winner-div .game-title {
	color: yellow;
}

.mandatory {
	color: red;
	position: relative;
	top: -5px;
}

.combobox-field .textbox {
	background-color: #fafafa;
	border-radius: 2px;
	border: 1px solid #eeeeee;
	box-shadow: none;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
}

.combobox-field .textbox .textbox-text {
	padding: .375rem .75rem !important;
	height: calc(2.25rem + 2px);
	line-height: 1.5;
	background-color: transparent;
}

.combobox-field .combo-arrow {
	background-color: transparent;
}

.checkbox {
	border: 0;
}

.page-inner-title {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    font-weight: 700;
    padding: 7px 10px;
    width: 100%;
}

.text-center {
	text-align: center;
}

.div-table-main {
    overflow-x: auto;
    width: 100%;
}

.runner-table {
	border-top-color: #4a8883!important;
	border-color: #e2e2e2;
	border: 1px solid #e4e4e4;
	width: 100%;
    margin-bottom: 5px;
}

.runner-table>thead {
	border-color: #4a8883!important;
    color: #fff;
}

.runner-table>thead>tr {
	background: #4ca49d;
}

.runner-table>thead>tr>th{
	color: #fff !important;
}

.show-data {
	display: none;
}

.height-30 {
	height: 30px;
}

.ui-default-color {
	display: inline-block;
    height: 30px;
    background: rgba(0,0,0,.3);
    padding: 0 13px;
    margin-right: 1%;
	font-weight: 600;
}

.bg-darkblue {
    background: #1d89cf;
}

.border-grey {
	border: solid 1px rgba(0, 0, 0, 0.6);
}