.inline {
  display: inline!important;
}
.input-sm {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 2px
}

select.input-sm {
	height: 30px;
	line-height: 30px
}

select[multiple].input-sm,
textarea.input-sm {
	height: auto
}

.input-lg {
	height: 45px;
	padding: 10px 16px;
	font-size: 17px;
	line-height: 1.33;
	border-radius: 3px
}

select.input-lg {
	height: 45px;
	line-height: 45px
}

select[multiple].input-lg,
textarea.input-lg {
	height: auto
} 
.no-padding {
	padding: 0!important
}

table {
	max-width: 100%
}

th {
	text-align: left
}

.table {
	width: 100%;
	margin-bottom: 5px
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #e4e4e4
}

.table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #e4e4e4
}

.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
	border-top: 0
}

.table>tbody+tbody {
	border-top: 2px solid #e4e4e4
}

.table .table {
	background-color: #fff
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
	padding: 5px
}

.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
	border: 1px solid #e4e4e4
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
	border-bottom-width: 2px
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #f9f9f9
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th,
.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
	background-color: #f5f5f5
}

table col[class*=col-] {
	position: static;
	float: none;
	display: table-column
}

table td[class*=col-],
table th[class*=col-] {
	position: static;
	float: none;
	display: table-cell
}

.table-hover>tbody>tr.active:hover>td,
.table-hover>tbody>tr.active:hover>th,
.table-hover>tbody>tr>td.active:hover,
.table-hover>tbody>tr>th.active:hover {
	background-color: #e8e8e8
}

.table>tbody>tr.success>td,
.table>tbody>tr.success>th,
.table>tbody>tr>td.success,
.table>tbody>tr>th.success,
.table>tfoot>tr.success>td,
.table>tfoot>tr.success>th,
.table>tfoot>tr>td.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>thead>tr.success>th,
.table>thead>tr>td.success,
.table>thead>tr>th.success {
	background-color: #dff0d8
}

.table-hover>tbody>tr.success:hover>td,
.table-hover>tbody>tr.success:hover>th,
.table-hover>tbody>tr>td.success:hover,
.table-hover>tbody>tr>th.success:hover {
	background-color: #d0e9c6
}

.table>tbody>tr.info>td,
.table>tbody>tr.info>th,
.table>tbody>tr>td.info,
.table>tbody>tr>th.info,
.table>tfoot>tr.info>td,
.table>tfoot>tr.info>th,
.table>tfoot>tr>td.info,
.table>tfoot>tr>th.info,
.table>thead>tr.info>td,
.table>thead>tr.info>th,
.table>thead>tr>td.info,
.table>thead>tr>th.info {
	background-color: #d9edf7
}

.table-hover>tbody>tr.info:hover>td,
.table-hover>tbody>tr.info:hover>th,
.table-hover>tbody>tr>td.info:hover,
.table-hover>tbody>tr>th.info:hover {
	background-color: #c4e3f3
}

.table>tbody>tr.warning>td,
.table>tbody>tr.warning>th,
.table>tbody>tr>td.warning,
.table>tbody>tr>th.warning,
.table>tfoot>tr.warning>td,
.table>tfoot>tr.warning>th,
.table>tfoot>tr>td.warning,
.table>tfoot>tr>th.warning,
.table>thead>tr.warning>td,
.table>thead>tr.warning>th,
.table>thead>tr>td.warning,
.table>thead>tr>th.warning {
	background-color: #fcf8e3
}

.table-hover>tbody>tr.warning:hover>td,
.table-hover>tbody>tr.warning:hover>th,
.table-hover>tbody>tr>td.warning:hover,
.table-hover>tbody>tr>th.warning:hover {
	background-color: #faf2cc
}

.table>tbody>tr.danger>td,
.table>tbody>tr.danger>th,
.table>tbody>tr>td.danger,
.table>tbody>tr>th.danger,
.table>tfoot>tr.danger>td,
.table>tfoot>tr.danger>th,
.table>tfoot>tr>td.danger,
.table>tfoot>tr>th.danger,
.table>thead>tr.danger>td,
.table>thead>tr.danger>th,
.table>thead>tr>td.danger,
.table>thead>tr>th.danger {
	background-color: #f2dede
}

.table-hover>tbody>tr.danger:hover>td,
.table-hover>tbody>tr.danger:hover>th,
.table-hover>tbody>tr>td.danger:hover,
.table-hover>tbody>tr>th.danger:hover {
	background-color: #ebcccc
}

@media(max-width:767px) {
	.table-responsive {
		width: 100%;
		margin-bottom: 13.5px;
		overflow-y: hidden;
		overflow-x: auto;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid #e4e4e4;
		-webkit-overflow-scrolling: touch
	}
	.table-responsive>.table {
		margin-bottom: 0
	}
	.table-responsive>.table>tbody>tr>td,
	.table-responsive>.table>tbody>tr>th,
	.table-responsive>.table>tfoot>tr>td,
	.table-responsive>.table>tfoot>tr>th,
	.table-responsive>.table>thead>tr>td,
	.table-responsive>.table>thead>tr>th {
		white-space: nowrap
	}
	.table-responsive>.table-bordered {
		border: 0
	}
	.table-responsive>.table-bordered>tbody>tr>td:first-child,
	.table-responsive>.table-bordered>tbody>tr>th:first-child,
	.table-responsive>.table-bordered>tfoot>tr>td:first-child,
	.table-responsive>.table-bordered>tfoot>tr>th:first-child,
	.table-responsive>.table-bordered>thead>tr>td:first-child,
	.table-responsive>.table-bordered>thead>tr>th:first-child {
		border-left: 0
	}
	.table-responsive>.table-bordered>tbody>tr>td:last-child,
	.table-responsive>.table-bordered>tbody>tr>th:last-child,
	.table-responsive>.table-bordered>tfoot>tr>td:last-child,
	.table-responsive>.table-bordered>tfoot>tr>th:last-child,
	.table-responsive>.table-bordered>thead>tr>td:last-child,
	.table-responsive>.table-bordered>thead>tr>th:last-child {
		border-right: 0
	}
	.table-responsive>.table-bordered>tbody>tr:last-child>td,
	.table-responsive>.table-bordered>tbody>tr:last-child>th,
	.table-responsive>.table-bordered>tfoot>tr:last-child>td,
	.table-responsive>.table-bordered>tfoot>tr:last-child>th {
		border-bottom: 0
	}
}

table.grid-table {
	margin: 0
}

table.grid-table .grid-wrap {
	padding: 0;
	position: relative
}

table.grid-table .grid-empty-text {
	color: #666
}

table.grid-table .grid-header {
	position: relative
}

table.grid-table .grid-header .sorted-asc .grid-sort-arrow:after {
	content: " ↑"
}

table.grid-table .grid-header .sorted-desc .grid-sort-arrow:after {
	content: " ↓"
}

table.grid-table .grid-header>.grid-header-title {
	width: 100%;
	margin-right: 15px;
	white-space: nowrap
}

table.grid-table tr.grid-row-selected td {
	background: #4888c2!important;
	color: #fff
}

table.grid-table tr.grid-row-selected a {
	color: #fff
}

input.grid-filter-input {
	padding: 4px;
	font-size: 13px
}

table.grid-table .grid-filter {
	position: relative;
	margin-top: 2px;
	float: right;
	width: 10px;
	height: 12px
}

table.grid-table .grid-filter-btn {
	cursor: pointer;
	display: block;
	width: 10px;
	height: 12px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAJFJREFUKFNjkJSU/E8MZvj//78DMRhkoj+6bizYH2SiiIeHx2FjY+P/2DBIDqSGAQSOHTtmYWZm9hldEUgMJAdWBAJAHSzt7e056ApBYiA5qDIIAAoIhIaGroYpArFBYlBpVLB3715DmEIQGyqMCUDWwBRiWIkOYAqhXNwApMjX13c7lIsbgBQBrdWAcqGAgQEAdOGTrvsYKXIAAAAASUVORK5CYII=) no-repeat
}

table.grid-table .grid-filter-btn.filtered {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAJNJREFUKFNjYGj//58o/P//fwdiMIOkpKQ/VhOQMFgNULWIh4fHYWNj4//YMEgOpIYBBI4dO2ZhZmb2GV0RSAwkB1YEAkAdLO3t7TnoCkFiIDmoMggACgiEhoauhikCsUFiUGlUsHfvXkOYQhAbKowJQNbAFGJYiQ5gCqFc3ACkyNfXdzuUixuAFAGt1YByoYCBAQAUDanUpFB4UQAAAABJRU5ErkJggg==) no-repeat
}

table.grid-table .grid-filter-buttons {
	padding: 0
}

table.grid-table .grid-filter-datepicker {
	font-size: 12px
}

table.grid-table .grid-filter-datepicker table td {
	padding: 1px!important
}

table.grid-table .grid-filter-datepicker .ui-datepicker {
	width: auto
}

table.grid-table .grid-dropdown-inner ul.menu-list li a.grid-filter-clear {
	white-space: nowrap;
	padding-left: 23px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAARpJREFUKFNjYGj//58o/P//fwdiMIOkpKQ/VhOQMFgNULWIh4fHYWNj4//YMEgOpIYBBI4dO2axOC/396GinP/O+vpwRVbGxl92+vluXm1kuASsEKiD5VB99aG3eTH/HxjL/A/RUPsfrqb6f7e21uutlhbRYEUwAFQskOLmun2+lND/0xxM/7dycXzd6OxoCpVGBduWLjXv4+f/v5WF+f9RbtYvfeysqlApBKhhY2Hcxsy0+xAL038nbe3/m8W4ss/Jcx2GSiPAal6uvGtczP9TFOXBHgGJ7RHlmLGOjy0UrAAGzgT7rn7urP/P3NDgv6+v73aQWAMzM+dqTtbJYAUwsNzeyuhImE8GSBHQYxpQYYYJQCcxMDAwAAB7/bt5uWh9FAAAAABJRU5ErkJggg==);
	background-position: 3px center;
	background-repeat: no-repeat
}

table.grid-table .grid-filter-choose.choose-selected {
	background-color: #fff!important;
	cursor: default;
	color: #999
}

table.grid-table .grid-popup-additional {
	padding: 3px 0 0
}

.grid-dropdown {
	font-weight: 400;
	left: -102px;
	top: 16px!important;
	min-width: 180px
}

.grid-dropdown-arrow {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTAw9HKhAAAAl0lEQVQoU42PMQuFMAyE6xN5gpOjjsIb/P9/o3O3zh27dY25kIPq8DBwmLT35WoQkUEVOmGec84CaW2q7+N+AdCD6M9SisQYTei1jsfyCeCu+vjFVGs1AN++94DRfUOfuNLoKUiyRC5y2F5I8NdaM4P/l0EswvBorQTnfxBhLMRih+2pklIy+eEtjQPu6MNZwIBNbwteMBd5X4ZGHcwL3QAAAABJRU5ErkJggg==) no-repeat;
	height: 8px;
	left: 99px;
	position: absolute;
	top: -8px;
	width: 14px
}

.grid-dropdown-inner {
	padding: 5px 7px
}

.grid-dropdown ul.menu-list {
	list-style-type: none;
	margin: 3px 0 0;
	padding: 0
}

.grid-dropdown ul.menu-list li a {
	text-decoration: none;
	background-position: 6px center;
	background-repeat: no-repeat;
	display: block;
	padding: 4px 5px
}

.grid-dropdown ul.menu-list li a:hover {
	background-color: #eee;
	text-decoration: none
}

.grid-itemscount {
	margin-top: 20px
}

.form-control {
  text-align: right;
  font-weight: bold;
  font-size: 1.3em;
  text-transform: uppercase;
}
.setPaddingRunnerSts {
    padding: 15px 0px 3px;
    text-align: center;
}

.setFontRunStatus {
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #000;
    padding: 5px;
}

.nobgcolor .sessiontextbox input[type="text"], .color-layRate, .nobgcolor .markettextbox input[type="text"], .nobgcolor .marketvolumntextbox input[type="text"] {
    background-color: #ffe6eb;
}

.yesbgcolor .sessiontextbox input[type="text"], .color-backRate, .yesbgcolor .markettextbox input[type="text"], .yesbgcolor .marketvolumntextbox input[type="text"] {
    background-color: rgba(174, 219, 251, 0.45);
}

.manualodds {
    border: 1px solid #e7eaec;
    line-height: 25px;
    vertical-align: middle;
    margin: 2px 0px;
    background-image: linear-gradient(to right, rgb(139, 191, 64) 25%, rgb(230, 27, 33) 25%, rgb(230, 27, 33) 50%, rgb(124, 196, 236) 50%, rgb(124, 196, 236) 75%, rgb(254, 181, 17) 75%);
    background-size: 100% 4px;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding-top: 8px !important;
}

    .manualodds .checkbox, .radio {
        margin-bottom: 5px;
    }

    .manualodds input[type="text"] {
        background-color: #5e5e5e;
        color: #fff;
        border-radius: 5px;
        font-weight: 650;
        letter-spacing: 1px;
        font-size: 17px;
    }

.half-width {
    width: 104%;
}

.setPaddingRunnerSts {
    padding: 15px 0px;
}

.setFontRunStatus {
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #000;
    padding: 5px;
}

.selectedrunner {
    /*background-color: #2c93bb;*/
    background-color: #f2f6fb;
    /*color: #fff;*/
    border-left: 5px solid #1bb394 !important;
}

.unselectedrunner {
    /*background-color: #d7eafb;*/
    border-left: 5px solid #fff !important;
}

.runnertitle {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 12px;
}

.marketprofitloss {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 11px;
}

.circleRound {
    width: 20px;
    height: 20px;
    line-height: 16px;
    border-radius: 50%;
    font-size: 12px;
    border: 3px solid #f1f1f1;
    text-align: center;
}

.text-right {
    text-align: right !important;
}
  .averagepopup {
    width: 700px;
}
.backheader, .btnChips, .layheader, .modal-content button.dim, .modal-header, .sessionfixkeyword {
  letter-spacing: 1px;
}

.backbet td {
  cursor: pointer;
  background: #b1c7ff !important;
}

.laybet td {
  cursor: pointer;
  background: #ffbac9 !important;
}

.unmatchbet td {
  cursor: pointer;
  background: #ecaf45 !important;
}

.backbet:hover td {
  background: #047ace !important;
  color: #fff !important;
}

.laybet:hover td {
  background: #fb90a6 !important;
  color: #fff !important;
}

.allowbet, .disallowbet {
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  padding: 0 17px 0 0;
  color: #000;
  font-weight: 700;
}

.allowbet {
  background-image: url(../images/allow.png);
}

.disallowbet {
  background-image: url(../images/notallow.png);
}

.BackColor, .backheader, .layheader {
  color: #fff !important;
}

.backheader {
  border-bottom: 2px solid #0973BD !important;
  background-color: #7cc4f7 !important;
  font-size: 14px;
}

.layheader {
  border-bottom: 2px solid #FE597B !important;
  background-color: #fca4b7 !important;
  font-size: 14px;
}

.BackColor {
  background-color: #AEDBFB !important;
}

.rate, .rate a {
  color: #000 !important;
}

.BackColor:hover {
  background: #7cc4f7 !important;
}

.divmarketbody .BackColor:hover {
  background-color: #AEDBFB !important;
}

.Laycolor {
  background-color: #FFCAD5 !important;
}

  .Laycolor:hover {
      background-position: 0 0;
      background-color: #fca4b7 !important;
      background-image: none !important;
      background-repeat: repeat !important;
      background-attachment: scroll !important;
  }

.divmarketbody .Laycolor:hover {
  background-color: #FFCAD5 !important;
}

.divmarketbody .BackColor, .divmarketbody .Laycolor {
  cursor: default !important;
}

.rate {
  padding: 5px 0 !important;
}

  .rate .price {
      font-size: 14px;
      font-weight: 600;
  }

#divMarektWiseProfitloss table th, .btnChips, .divmarketbody table th, .sessionfixkeyword {
  font-weight: 700;
}

.rate small {
  color: #676a6c;
}

.fixedhieght {
  min-height: 22px !important;
}

.brodertop {
  border-top: 2px solid #2f4050;
}

.fixedwithlbl {
  min-width: 20px;
  padding: 0px 7px;
  border-radius: 2px;
}

.text-white {
  color: #fff !important;
}

.bgcolorapply .form-group {
  margin-top: 5px;
  margin-bottom: 10px;
}

.bgcolorapply .input-group-addon {
  color: #000;
}

.top-margin-5px {
  margin-top: 5px;
}

.top-margin-10px {
  margin-top: 10px;
}

.top-margin-15px {
  margin-top: 15px;
}

.top-margin-20px {
  margin-top: 20px;
}

.bottom-margin-5px {
  margin-bottom: 5px;
}

.bottom-margin-10px {
  margin-bottom: 10px;
}

.bottom-margin-15px {
  margin-bottom: 15px;
}

.bottom-margin-20px {
  margin-bottom: 20px;
}

.top-padding-5px {
  padding-top: 5px;
}

.top-padding-10px {
  padding-top: 10px;
}

.top-padding-15px {
  padding-top: 15px;
}

.top-padding-20px {
  padding-top: 20px;
}

.bottom-padding-5px {
  padding-bottom: 5px;
}

.bottom-padding-10px {
  padding-bottom: 10px;
}

.bottom-padding-15px {
  padding-bottom: 15px;
}

.bottom-padding-20px {
  padding-bottom: 20px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.circleRound {
  width: 20px;
  height: 20px;
  line-height: 16px;
  border-radius: 50%;
  font-size: 12px;
  border: 3px solid #f1f1f1;
  text-align: center;
}

.no-border-right {
  border-right: 0 !important;
}

.select2-dropdown, .select2-results {
  z-index: 9999 !important;
}

.mpeplacebet-border-bottom {
  padding-bottom: 10px;
  border-bottom: 2px solid #fefeff;
}

.mpe-backcolorgroud {
  background-color: #7cc4f7 !important;
  border-color: #23638c !important;
  color: #fff;
}

.mpe-laycolorgroud {
  background-color: #fca4b7 !important;
  border-color: #ca4433 !important;
  color: #fff;
}

.modal-header {
  background-color: #2f1313;
  color: #fff;
}

.modal-content button.dim {
  border-radius: 0;
  margin-bottom: 15px !important;
}

.btnChips {
  margin: 3px;
  color: #fff;
}

.over-auto {
  overflow: auto;
}

.back-gray {
  background-color: #555;
}

.counter-separated span + span {
  margin: 0;
}

.counter-separated.counter-sm span {
  padding: 0 2px;
}

.modal-footer {
  background-color: #fff;
}

.countDiv {
  display: none !important;
}

.back-theme {
  background-color: #4ca49d;
}

.text-black {
  color: #000;
}

.font-14 {
  font-size: 14px !important;
}

.bootbox-sm .modal-body {
  padding: 10px !important;
}

.gt-ie8 input.px.custrad + .lbl:after, .gt-ie8 input.px.custrad + .lbl:before {
  margin-top: 0 !important;
}

.counter-separated.counter-sm span + span {
  border-radius: 0;
  margin: 0;
}

.text-blue {
  color: #428bca !important;
}

.form-group {
  margin-bottom: 10px;
}

.enterybgcolor .sessiontextbox input[type=text] {
  background-color: #5e5e5e;
  color: #fff;
}

.note-box {
  font-size: 14px;
  text-align: center;
  padding: 2px;
}

.sessiontextbox {
  margin: 5px 0;
}

.sessionfixkeyword {
  line-height: 30px;
}

.bg-success, .blue-bg {
  background-color: #1c84c6;
  color: #fff;
}

.nobgcolor .sessiontextbox input[type=text] {
  background-color: #ffe6eb;
}

.yesbgcolor .sessiontextbox input[type=text] {
  background-color: rgba(174,219,251,.45);
}

.sessiontextbox input[type=text] {
  line-height: 40px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 700;
  padding-left: 5px;
  padding-right: 5px;
  border: 0;
  border-radius: 2px;
}

#divMarketDetail .btn-danger.btn-outline, #divMarketDetail .btn-danger.btn-outline.btn-flat {
  border-color: #e14430 #e14430 #c22e1c;
}

#divMarketDetail .btn-success.btn-outline, #divMarketDetail .btn-success.btn-outline.btn-flat {
  border-color: #46ac46 #46ac46 #388838;
}

#divClienbetslisting {
  /*padding-top: 11px !important;
  border-top: 4px solid #eee;
  margin-top: 11px;*/
}

.ui-default-color {
  display: inline-block;
  margin-right: 10px;
  line-height: 30px;
  font-size: 11px;
  padding-right: 30px;
  color: #fff;
  margin-bottom: 10px;
}

  .ui-default-color span {
      display: inline-block;
      height: 30px;
      background: rgba(0,0,0,.3);
      padding: 0 13px;
      margin-right: 30px;
      font-weight: 600;
  }

.right-to-left .ui-default-color {
  margin-left: 10px;
  margin-right: 0;
  padding-left: 30px;
  padding-right: 0;
}

  .right-to-left .ui-default-color span {
      margin-left: 30px;
      margin-right: 0;
  }

.label.label-tag.right:after {
  margin: -12px -5px 0 -10px !important;
  right: 0 !important;
}

.label.label-tag.right:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: -12px;
  right: 0;
}

.pad-11 {
  padding: 0 11px;
}

@media screen and (max-width:479px) {
  .ui-default-color {
      margin-right: 0;
  }
}

.setpaddingtxtRate {
  padding: 5px;
}

.half-width {
  width: 50%;
}

.popover-content {
  color: #000 !important;
  font-weight: 600 !important;
}

.ibox-content > .sk-spinner {
  display: none;
}

.ibox-content.sk-loading {
  position: relative;
}

  .ibox-content.sk-loading:after {
      content: '';
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }

  .ibox-content.sk-loading > .sk-spinner {
      display: block;
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
      z-index: 2000;
  }

.sk-spinner-wave.sk-spinner {
  margin: 0 auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.sk-spinner-wave div {
  background-color: #1ab394;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-spinner-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-spinner-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-spinner-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-spinner-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
      -webkit-transform: scaleY(0.4);
      transform: scaleY(0.4);
  }

  20% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
      -webkit-transform: scaleY(0.4);
      transform: scaleY(0.4);
  }

  20% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}

.fa-2 {
  font-size: 2em;
}

fieldset,
legend {
	padding: 0;
	border: 0
}

fieldset {
	margin: 0;
	min-width: 0
}

legend {
	width: 100%;
	margin-bottom: 18px;
	font-size: 19.5px;
	line-height: inherit;
	border-bottom: 1px solid #e5e5e5
}

label {
	display: inline-block;
	margin-bottom: 5px
}

input[type=search] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none
}

input[type=checkbox],
input[type=radio] {
	/* margin: 2px 0 0; */
	/* line-height: normal */
}

.form-control,
output {
	font-size: 13px;
	line-height: 1.42857143;
	color: #555;
	display: block
}

input[type=file] {
	display: block
}

input[type=range] {
	display: block;
	width: 100%
}

select[multiple],
select[size] {
	height: auto
}

input[type=checkbox]:focus,
input[type=file]:focus,
input[type=radio]:focus {
	outline: dotted thin;
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px
}

output {
	padding-top: 7px
}

.form-control {
	width: 100%;
	height: 32px;
	padding: 6px 12px;
	background-color: #fff;
	border: 1px solid #d6d6d6;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
	color: #999;
	opacity: 1
}

.form-control:-ms-input-placeholder {
	color: #999
}

.form-control::-webkit-input-placeholder {
	color: #999
}

.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .control-label,
.has-success .form-control-feedback,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline {
	color: #3c763d
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1
}

textarea.form-control {
	height: auto
}

input[type=date] {
	line-height: 32px
}

.form-group {
	margin-bottom: 15px
}

.checkbox,
.radio {
	display: block;
	min-height: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px
}

.checkbox label,
.radio label {
	display: inline;
	font-weight: 400;
	cursor: pointer
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
	float: left;
	margin-left: -20px
}

.checkbox+.checkbox,
.radio+.radio {
	margin-top: -5px
}

.checkbox-inline,
.radio-inline {
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	vertical-align: middle;
	font-weight: 400;
	cursor: pointer
}

.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
	margin-top: 0;
	margin-left: 10px
}

.checkbox-inline[disabled],
.checkbox[disabled],
.radio-inline[disabled],
.radio[disabled],
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline,
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] input[type=checkbox],
fieldset[disabled] input[type=radio],
input[type=checkbox][disabled],
input[type=radio][disabled] {
	cursor: not-allowed
}
