/*
Template Name: Moltran - Responsive Bootstrap 4 Admin Dashboard
Author: CoderThemes
Email: coderthemes@gmail.com
File: Main Style scss
*/
/**********************
01.General
02.Helper
03.Bootstrap Custom
04.Waves
05.Menu
06.Demo Only
07.Email
08.calender
09.buttons
10.Cards
11.Checkbox-Radio
12.tab & accordians
13.modal
14.alerts
15.progress
16.sweetalert
17.portlets
18.Widgets
19.Rangeslider
20.Gallery
21.Pricing
22.Form Elements
23.Form Advanced
24.Form Wizard
25.Form Editor
26.Form Code Editor
27.Form Upload
28.Tables
29.Charts
30.Maps
31.Profile
32.Timeline
33.Invoice
34.Maintenance
35.Coming Soon
36.Account pages
37.Responsive
***********************/
/*  Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:400,500,700");
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
/* ==============
  General
===================*/
body {
  background: #f5f5f5;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  font-size: 14px;
}

html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
  color: #505458;
  font-family: "Roboto", sans-serif;
  margin: 10px 0;
}

h1 {
  line-height: 43px;
  font-size: 36px;
}

h1 small {
  color: #797979;
}

h2 {
  line-height: 35px;
  font-size: 30px;
}

h2 small {
  color: #797979;
}

h3 {
  line-height: 30px;
  font-size: 24px;
}

h3 small {
  color: #797979;
}

h4 {
  line-height: 22px;
  font-size: 18px;
}

h4 small {
  color: #797979;
}

h5 {
  font-size: 14px;
}

h5 small {
  color: #797979;
}

h6 {
  font-size: 12px;
}

h6 small {
  color: #797979;
}

* {
  outline: none !important;
}

.f-s-13 {
  font-size: 13px;
}

a:hover {
  outline: 0;
  text-decoration: none;
}

a:active {
  outline: 0;
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

.container {
  width: auto;
}

.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  background-color: #f9f9f9;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  bottom: 0px;
  color: #58666e;
  text-align: left !important;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  left: 240px;
}

#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.page {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.page-title {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 13px;
}

.social-links li a {
  -webkit-border-radius: 50%;
  background: #EFF0F4;
  border-radius: 50%;
  color: #7A7676;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

.table-active, .table-active > td, .table-active > th {
  background-color: rgba(0, 0, 0, 0.03);
}

/* Dropcap */
.dropcap {
  font-size: 3.1em;
}

.dropcap, .dropcap-circle, .dropcap-square {
  display: block;
  float: left;
  font-weight: 400;
  line-height: 36px;
  margin-right: 6px;
  text-shadow: none;
}

/* ==============
  Helper Classes
===================*/
.p-0 {
  padding: 0px !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.m-0 {
  margin: 0px !important;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px !important;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-t-0 {
  margin-top: 0px;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-b-0 {
  margin-bottom: 0px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.w-xs {
  min-width: 80px;
}

.w-sm {
  min-width: 95px;
}

.w-md {
  min-width: 110px;
}

.w-lg {
  min-width: 140px;
}

.m-h-50 {
  min-height: 50px;
}

.l-h-34 {
  line-height: 34px;
}

.font-light {
  font-weight: 300;
}

.wrapper-md {
  padding: 20px;
}

.pull-in {
  margin-left: -15px;
  margin-right: -15px;
}

.b-0 {
  border: none !important;
}

.no-border {
  border: none;
}

.bx-shadow {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.mx-box {
  max-height: 380px;
  min-height: 380px;
}

.thumb-sm {
  height: 32px;
  width: 32px;
}

.thumb-md {
  height: 48px;
  width: 48px;
}

.thumb-lg {
  height: 88px;
  width: 88px;
}

/* ==============
  Bootstrap-custom
===================*/
.row {
  margin-right: -10px;
  margin-left: -10px;
}

.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7,
.col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12,
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4,
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10,
.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
.col-sm-9, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3,
.col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
  padding-left: 10px;
  padding-right: 10px;
}

.breadcrumb {
  background-color: transparent;
  margin-bottom: 12px;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #d5d5d5;
  content: "/\00a0";
}

.breadcrumb > .active {
  color: #797979;
}

code {
  background-color: #f7f7f9;
  padding: .2rem .4rem;
  border-radius: .25rem;
}

.blockquote {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-left: 4px solid #eeeeee;
  font-size: 17px;
}

.blockquote-reverse {
  border-left: 0;
  border-right: 4px solid #eeeeee;
  text-align: right;
}

.dropdown-menu {
  padding: 4px 0;
  border: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.dropdown-menu > li > a {
  padding: 6px 20px;
  font-size: 14px;
  color: #333333;
}

/* Dropdown */
@-webkit-keyframes dropdownOpen {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes dropdownOpen {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
  margin-left: 5px;
}

.popover-header {
  margin-top: 0px;
}

.bg-primary {
  background-color: #2b4049 !important;
}

.bg-success {
  background-color: #58c9c7 !important;
}

.bg-info {
  background-color: #2b9ac9 !important;
}

.bg-warning {
  background-color: #ffd740 !important;
}

.bg-danger {
  background-color: #ef5350 !important;
}

.bg-muted {
  background-color: #d0d0d0 !important;
}

.bg-inverse {
  background-color: #212121 !important;
}

.bg-purple {
  background-color: #7e57c2 !important;
}

.bg-pink {
  background-color: #ec407a !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.text-white {
  color: #ffffff;
}

.text-danger {
  color: #ef5350 !important;
}

.text-muted {
  color: #98a6ad !important;
}

.text-primary {
  color: #2b4049 !important;
}

.text-warning {
  color: #ffd740;
}

.text-success {
  color: #58c9c7 !important;
}

.text-info {
  color: #2b9ac9 !important;
}

.text-inverse {
  color: #212121;
}

.text-pink {
  color: #ec407a;
}

.text-purple {
  color: #7e57c2;
}

.text-dark {
  color: #797979 !important;
}

.label-primary {
  background-color: #2b4049;
}

.label-success {
  background-color: #58c9c7;
}

.label-info {
  background-color: #2b9ac9;
}

.label-warning {
  background-color: #ffd740;
}

.label-danger {
  background-color: #ef5350;
}

.label-purple {
  background-color: #7e57c2;
}

.label-pink {
  background-color: #ec407a;
}

.label-inverse {
  background-color: #212121;
}

.badge {
  color: #ffffff;
  font-size: 100%;
}

.badge-xs {
  font-size: 9px;
}

.badge-xs, .badge-sm {
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
}

.badge-primary {
  background-color: #2b4049;
}

.badge-success {
  background-color: #58c9c7;
}

.badge-info {
  background-color: #2b9ac9;
}

.badge-warning {
  background-color: #ffd740;
}

.badge-danger {
  background-color: #ef5350;
}

.badge-purple {
  background-color: #7e57c2;
}

.badge-pink {
  background-color: #ec407a;
}

.badge-inverse {
  background-color: #212121;
}

.pagination > li > a {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #373e4a;
}

.pagination .page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pagination > li > span {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #373e4a;
}

.pagination > .active > a, .pagination > .active > span,
.pagination > .active > a:hover, .pagination > .active > span:hover,
.pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #2b4049 !important;
  border-color: #2b4049 !important;
}

.spinner-border, .spinner-grow {
  margin-right: 10px;
  margin-top: 10px;
}

.list-group-item.active {
  background-color: #dddddd;
  border-color: #dddddd;
  color: #444444;
  z-index: 2;
}

.list-group-item.active:hover {
  background-color: #dddddd;
  border-color: #dddddd;
  color: #444444;
  z-index: 2;
}

.list-group-item.active:hover .list-group-item-text {
  color: #2b4049;
}

.list-group-item.active:focus {
  background-color: #dddddd;
  border-color: #dddddd;
  color: #444444;
  z-index: 2;
}

.list-group-item.active:focus .list-group-item-text {
  color: #2b4049;
}

.list-group-item.active .list-group-item-text {
  color: #2b4049;
}

.list-group-item {
  border-radius: 0px;
  padding: 12px 20px;
}

.list-group-item.disabled, .list-group-item:disabled {
  background: #eeeeee;
}

.list-group-item:first-child {
  border-radius: 0px;
  padding: 12px 20px;
}

.list-group-item:last-child {
  border-radius: 0px;
  padding: 12px 20px;
}

.list-group-item-heading {
  font-weight: 300;
}

.list-group-item.active > .badge {
  color: #2b4049;
}

.nav-pills > .active > a > .badge {
  color: #2b4049;
}

.has-success .form-control {
  border-color: #58c9c7;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.has-warning .form-control {
  border-color: #ffd740;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.has-error .form-control {
  border-color: #ef5350;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.input-group-addon {
  border-radius: 2px;
  border: 1px solid #eeeeee;
}

/* ==============
  Waves Effect
===================*/
/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-block {
  display: block;
}

/*
Template Name: Moltran - Responsive Bootstrap 4 Admin Dashboard
Author: CoderThemes
Email: coderthemes@gmail.com
File: Topbar,Left-sidebar,Right-sidebar
*/
.topbar {
  -webkit-box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);
  background: #ffffff;
  box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);
  left: 0px;
  position: fixed;
  right: 0;
  top: 0px;
  z-index: 999;
}

.topbar .topbar-left {
  background: #2b4049;
  float: left;
  height: 70px;
  position: relative;
  width: 240px;
  z-index: 1;
}

.logo {
  color: #ffffff !important;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 70px;
  text-transform: uppercase;
}

.logo h1 {
  height: 50px;
  margin: 0px auto;
  text-align: center;
}

.logo i {
  color: #2b9ac9;
  font-size: 30px;
  margin-right: 5px;
}

.navbar-default {
  background-color: #2b4049;
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 0px;
  padding: 0px;
}

.navbar-default .navbar-nav > .open > a {
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
}

.nav > li > a {
  color: #ffffff !important;
  line-height: 70px;
  padding: 0px 15px;
  position: relative;
}

.nav > li > a i {
  font-size: 20px;
}

.nav > li > a .badge {
  position: absolute;
  right: 10px;
  top: 20px;
}

.profile img {
  border: 2px solid #edf0f0;
  height: 36px;
  width: 36px;
}

.dropdown-menu-lg {
  width: 280px;
}

.dropdown-menu-lg .list-group {
  margin-bottom: 0px;
}

.dropdown-menu-lg .list-group-item {
  border: none;
  padding: 10px 20px;
}

.dropdown-menu-lg .list-group-item em {
  font-size: 20px !important;
  padding-right: 10px;
}

.dropdown-menu-lg .media-heading {
  margin-bottom: 0px;
}

.dropdown-menu-lg .media-body p {
  color: #828282;
}

.notifi-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0px 10px;
}

.navbar-form {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0px;
}

.search-bar {
  background-color: transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #ffffff !important;
  font-size: 16px;
  height: 50px;
  margin-top: 8px;
}

.btn-search {
  display: none;
}

input.search-bar::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input.search-bar:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input.search-bar::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input.search-bar:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.navbar-nav {
  margin: 0px;
}

.navbar-right .dropdown-toggle:after {
  display: none;
}

.side-menu {
  bottom: 0;
  top: 0;
  width: 240px;
  z-index: 2;
}

.side-menu.left {
  background: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 70px;
}

body.fixed-left .side-menu.left {
  bottom: 50px;
  height: 100%;
  margin-bottom: -70px;
  margin-top: 0px;
  padding-bottom: 70px;
  position: fixed;
}

.content-page {
  margin-left: 240px;
  overflow: hidden;
}

.content-page > .content {
  margin-bottom: 60px;
  margin-top: 62px;
  padding: 20px 10px 15px 10px;
}

.button-menu-mobile {
  background: transparent;
  border: none;
  color: #888888;
  color: #ffffff;
  font-size: 21px;
  line-height: 70px;
  padding: 0px 15px;
}

.button-menu-mobile:hover {
  color: #eeeeee;
}

.sidebar-inner {
  height: 100%;
}

#sidebar-menu, #sidebar-menu ul, #sidebar-menu li, #sidebar-menu a {
  border: 0;
  font-weight: normal;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

#sidebar-menu {
  background-color: #ffffff;
  padding-bottom: 50px;
  width: 100%;
}

#sidebar-menu a {
  line-height: 1.3;
}

#sidebar-menu ul ul {
  display: none;
}

#sidebar-menu ul ul li {
  border-top: 0;
}

#sidebar-menu ul ul li.active a {
  color: #2b4049;
}

#sidebar-menu ul ul a {
  color: #75798B;
  display: block;
  padding: 10px 25px 10px 65px;
  font-size: 13px;
}

#sidebar-menu ul ul a:hover {
  color: #2b4049;
}

#sidebar-menu ul ul a i {
  margin-right: 5px;
}

#sidebar-menu ul ul ul a {
  padding-left: 80px;
}

#sidebar-menu > ul > li > a {
  color: #444444;
  display: block;
  padding: 15px 25px;
}

#sidebar-menu > ul > li > a:hover {
  background: #f3f3f3;
  text-decoration: none;
}

#sidebar-menu > ul > li > a > span {
  vertical-align: middle;
}

#sidebar-menu > ul > li > a > i {
  display: inline-block;
  font-size: 18px;
  line-height: 17px;
  margin-left: 3px;
  margin-right: 15px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}

#sidebar-menu > ul > li > a > i.i-right {
  float: right;
  margin: 3px 0 0 0;
}

#sidebar-menu > ul > li > a.active {
  background: #f3f3f3 !important;
}

#sidebar-menu > ul > li > a.active.subdrop {
  background: #f3f3f3 !important;
}

.subdrop {
  background: #f3f3f3;
}

#wrapper.enlarged #sidebar-menu ul ul {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#wrapper.enlarged .left.side-menu {
  padding-top: 80px;
  width: 50px;
  z-index: 5;
}

#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a {
  padding-left: 10px;
  min-height: 50px;
}

#wrapper.enlarged .left.side-menu span.pull-right {
  display: none !important;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li {
  position: relative;
  white-space: nowrap;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a {
  background: #2b4049 !important;
  color: #ffffff;
  position: relative;
  width: 240px;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul {
  display: block;
  left: 50px;
  position: absolute;
  width: 190px;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a {
  background: #ffffff;
  border-left: 3px solid #edf0f0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 15px;
  position: relative;
  width: 190px;
  z-index: 6;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover a span {
  display: inline;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > ul {
  display: none;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li:hover > ul {
  display: block;
  left: 190px;
  margin-top: -36px;
  position: absolute;
  width: 190px;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li > a span.pull-right {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  position: absolute;
  right: 20px;
  top: 12px;
  transform: rotate(270deg);
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > a span {
  display: none;
  padding-left: 10px;
}

#wrapper.enlarged .left.side-menu .user-details {
  display: none;
}

#wrapper.enlarged .content-page {
  margin-left: 50px;
}

#wrapper.enlarged .topbar .topbar-left {
  width: 50px !important;
}

#wrapper.enlarged .topbar .topbar-left .logo span {
  display: none;
  opacity: 0;
}

#wrapper.enlarged .topbar .topbar-left .logo i {
  margin-right: 0px;
}

#wrapper.enlarged #sidebar-menu > ul > li:hover > a.open :after {
  display: none;
}

#wrapper.enlarged #sidebar-menu > ul > li:hover > a.active :after {
  display: none;
}

#wrapper.enlarged .footer {
  left: 50px;
}

.user-details {
  min-height: 80px;
  padding: 20px;
  position: relative;
}

.user-details img {
  position: relative;
  z-index: 9999;
}

.user-details .user-info {
  color: #444444;
  margin-left: 60px;
  position: relative;
  z-index: 99999;
}

.user-details .user-info a.dropdown-toggle {
  color: #666666;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding-top: 5px;
}

#wrapper.right-bar-enabled .right-bar {
  right: 0;
}

#wrapper.right-bar-enabled .left-layout {
  left: 0;
}

.side-bar.right-bar {
  float: right !important;
  right: -266px;
  top: 70px;
}

.side-bar {
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
  display: block;
  float: left;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  transition: all 200ms ease-out;
  width: 240px;
}

.right-bar {
  background: #ffffff !important;
  z-index: 99 !important;
}

.right-bar h4 {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
}

.contact-list {
  max-height: 600px;
}

.contact-list .list-group-item {
  border: none;
}

.contact-list .list-group-item:hover {
  background: #f5f5f5;
}

.contact-list i.offline {
  color: #ef5350;
}

.contact-list i.away {
  color: #ffd740;
}

.contacts-list .avatar {
  float: left;
  margin-right: 5px;
  width: 30px;
}

.contacts-list .avatar img {
  border-radius: 50%;
  width: 100%;
}

.contacts-list .list-group-item span.name {
  color: #707780;
  float: left;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
}

.contacts-list i.online {
  color: #a0d269;
}

.contacts-list i {
  color: #dddddd;
  float: right;
  font-size: 9px;
  line-height: 30px;
}

/* ==============
  demo only
===================*/
.grid-structure .grid-container {
  background-color: #f5f5f5;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.icon-list div {
  cursor: pointer;
  line-height: 40px;
  white-space: nowrap;
}

.icon-list i {
  -webkit-transition: all 0.2s;
  -webkit-transition: font-size .2s;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  text-align: center;
  transition: all 0.2s;
  transition: font-size .2s;
  vertical-align: middle;
  width: 40px;
}

.icon-list .col-xl-3:hover i {
  -webkit-transform: scale(2);
  transform: scale(2);
}

/* ==============
  Email
===================*/
.mails a {
  color: #444444;
}

.mails .checkbox {
  margin-bottom: 0px;
  margin-top: 0px;
  vertical-align: middle;
}

.mails .checkbox label {
  min-height: 16px;
  margin-bottom: 0px;
}

.mails td {
  border: none;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  position: absolute;
  margin-top: 4px\9;
  margin-left: -20px;
}

/* ==============
  Calendar
===================*/
.calendar {
  float: left;
  margin-bottom: 0px;
}

.none-border .modal-footer {
  border-top: none;
}

.fc-toolbar {
  margin-bottom: 5px;
}

.fc-toolbar h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
}

.fc-day {
  background: #ffffff;
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active,
.fc-toolbar button:focus, .fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0;
}

.fc-widget-header {
  border: 1px solid #d5d5d5;
}

.fc-widget-content {
  border: 1px solid #d5d5d5;
}

.fc th.fc-widget-header {
  background: #dddddd;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0px;
  text-transform: uppercase;
}

.fc-button {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  color: #555555;
  text-transform: capitalize;
}

.fc-text-arrow {
  font-family: arial;
  font-size: 16px;
}

.fc-state-hover {
  background: #F5F5F5;
}

.fc-state-highlight {
  background: #f0f0f0;
}

.fc-cell-overlay {
  background: #f0f0f0;
}

.fc-unthemed .fc-today {
  background: #ffffff !important;
}

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 13px;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center;
  color: #ffffff !important;
}

.external-event {
  color: #ffffff;
  cursor: move;
  margin: 10px 0;
  padding: 6px 10px;
}

.fc-basic-view td.fc-week-number span {
  padding-right: 5px;
}

.fc-basic-view td.fc-day-number {
  padding-right: 5px;
}

/* ==============
  Buttons
===================*/
.btn {
  font-size: 14px;
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.2px;
}

.btn:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  opacity: 1;
}

.btn:focus {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  opacity: 1;
}

.btn-sm {
  min-height: 30px;
}

.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn-inverse, .btn-purple, .btn-pink {
  color: #ffffff !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
  background-color: #2b4049 !important;
  border: 1px solid #2b4049 !important;
}

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .dropdown-toggle.btn-success {
  background-color: #58c9c7 !important;
  border: 1px solid #58c9c7 !important;
}

.btn-info, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open > .dropdown-toggle.btn-info {
  background-color: #2b9ac9 !important;
  border: 1px solid #2b9ac9 !important;
}

.btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open > .dropdown-toggle.btn-warning {
  background-color: #ffd740 !important;
  border: 1px solid #ffd740 !important;
  color: #333333 !important;
}

.btn-danger, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open > .dropdown-toggle.btn-danger {
  background-color: #ef5350 !important;
  border: 1px solid #ef5350 !important;
}

.btn-inverse, .btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.focus, .btn-inverse:active, .btn-inverse:focus, .btn-inverse:hover, .open > .dropdown-toggle.btn-inverse {
  background-color: #212121 !important;
  border: 1px solid #212121 !important;
  color: #ffffff;
}

.btn-purple, .btn-purple:hover, .btn-purple:focus, .btn-purple:active {
  background-color: #7e57c2 !important;
  border: 1px solid #7e57c2 !important;
  color: #ffffff;
}

.btn-pink, .btn-pink:hover, .btn-pink:focus, .btn-pink:active {
  background-color: #ec407a !important;
  border: 1px solid #ec407a !important;
  color: #ffffff;
}

.btn-light {
  color: #212121 !important;
}

.btn-custom.btn-primary {
  color: #2b4049 !important;
}

.btn-custom.btn-success {
  color: #58c9c7 !important;
}

.btn-custom.btn-info {
  color: #2b9ac9 !important;
}

.btn-custom.btn-warning {
  color: #ffd740 !important;
}

.btn-custom.btn-danger {
  color: #ef5350 !important;
}

.btn-custom.btn-inverse {
  color: #212121 !important;
}

.btn-custom.btn-purple {
  color: #7e57c2 !important;
}

.btn-custom.btn-pink {
  color: #ec407a !important;
}

.btn-rounded {
  border-radius: 2em;
  padding: 6px 18px;
}

.btn-custom {
  -moz-border-radius: 2px;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -webkit-border-radius: 2px;
  -webkit-transition: all 400ms ease-in-out;
  background: transparent;
  background-color: transparent !important;
  border-radius: 2px;
  border-width: 1px;
  transition: all 400ms ease-in-out;
}

.btn-custom:hover {
  color: #ffffff !important;
}

.btn-custom:focus {
  color: #ffffff !important;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  min-height: 22px;
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.btn-group-justified > .btn {
  display: table-cell;
  float: none;
  width: 1%;
}

/* ==============
  cards
===================*/
.card {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card .card-header {
  padding: 10px 20px;
  border: none;
}

.card .card-footer {
  border: none;
}

.card .card-body p + p {
  margin-top: 15px;
}

.card-title {
  font-size: 14px;
  font-weight: 600;
  color: #797979;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.card-border {
  border-radius: 3px;
}

.card-border .card-header {
  background-color: #ffffff;
  border-top: 3px solid #cccccc !important;
  border-radius: 3px;
  padding: 10px 20px 0px;
}

.card-border.card-primary .card-header {
  border-color: #2b4049 !important;
}

.card-border.card-success .card-header {
  border-color: #58c9c7 !important;
}

.card-border.card-info .card-header {
  border-color: #2b9ac9 !important;
}

.card-border.card-warning .card-header {
  border-color: #ffd740 !important;
}

.card-border.card-danger .card-header {
  border-color: #ef5350 !important;
}

.card-border.card-purple .card-header {
  border-color: #7e57c2 !important;
}

.card-border.card-pink .card-header {
  border-color: #ec407a !important;
}

.card-border.card-inverse .card-header {
  border-color: #212121 !important;
}

.card-fill {
  border-radius: 3px;
}

.card-fill .card-header {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.card-fill .card-body {
  color: rgba(255, 255, 255, 0.85);
}

.card-fill.card-default .card-header {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

/* ==============
  Checkbox and Radio
===================*/
.checkbox {
  padding-left: 20px;
}

.checkbox label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
  font-weight: 400;
}

.checkbox label::before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #cccccc;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 17px;
  outline: none !important;
}

.checkbox label::after {
  color: #555555;
  display: inline-block;
  font-size: 11px;
  height: 16px;
  left: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: 0;
  width: 16px;
}

.checkbox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline-offset: -2px;
  outline: none;
  outline: thin dotted;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "\f00c";
  font-family: 'FontAwesome';
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox.checkbox-single label {
  height: 17px;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #2b4049;
  border-color: #2b4049;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #ef5350;
  border-color: #ef5350;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #2b9ac9;
  border-color: #2b9ac9;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #ffd740;
  border-color: #ffd740;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #58c9c7;
  border-color: #58c9c7;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}

.radio {
  padding-left: 20px;
}

.radio label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
  font-weight: 400;
}

.radio label::before {
  -o-transition: border 0.5s ease-in-out;
  -webkit-transition: border 0.5s ease-in-out;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #cccccc;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  outline: none !important;
  position: absolute;
  transition: border 0.5s ease-in-out;
  width: 17px;
}

.radio label::after {
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -webkit-transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  background-color: #555555;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 11px;
  left: 3px;
  margin-left: -20px;
  position: absolute;
  top: 3px;
  transform: scale(0, 0);
  transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  width: 11px;
}

.radio input[type="radio"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.radio input[type="radio"]:focus + label::before {
  outline-offset: -2px;
  outline: none;
}

.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}

.radio.radio-single label {
  height: 17px;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #2b4049;
}

.radio-primary input[type="radio"]:checked + label::before {
  border-color: #2b4049;
}

.radio-primary input[type="radio"]:checked + label::after {
  background-color: #2b4049;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #ef5350;
}

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #ef5350;
}

.radio-danger input[type="radio"]:checked + label::after {
  background-color: #ef5350;
}

.radio-info input[type="radio"] + label::after {
  background-color: #2b9ac9;
}

.radio-info input[type="radio"]:checked + label::before {
  border-color: #2b9ac9;
}

.radio-info input[type="radio"]:checked + label::after {
  background-color: #2b9ac9;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #ffd740;
}

.radio-warning input[type="radio"]:checked + label::before {
  border-color: #ffd740;
}

.radio-warning input[type="radio"]:checked + label::after {
  background-color: #ffd740;
}

.radio-success input[type="radio"] + label::after {
  background-color: #58c9c7;
}

.radio-success input[type="radio"]:checked + label::before {
  border-color: #58c9c7;
}

.radio-success input[type="radio"]:checked + label::after {
  background-color: #58c9c7;
}

/* ==============
  tabs & accordian
===================*/
.tabs {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.tabs li.tab {
  background-color: #ffffff;
  display: block;
  float: left;
  margin: 0;
  text-align: center;
}

.tabs li.tab a {
  -moz-transition: color 0.28s ease;
  -ms-transition: color 0.28s ease;
  -o-transition: color 0.28s ease;
  -webkit-transition: color 0.28s ease;
  color: #ee6e73;
  display: block;
  height: 100%;
  text-decoration: none;
  transition: color 0.28s ease;
  width: 100%;
}

.tabs li.tab a.active {
  color: #2b4049 !important;
}

.tabs .indicator {
  background-color: #2b4049;
  bottom: 0;
  height: 2px;
  position: absolute;
  will-change: left, right;
}

.tabs-top .indicator {
  top: 0;
}

.nav.nav-tabs + .tab-content {
  background: #ffffff;
  margin-bottom: 30px;
  padding: 30px;
}

.tabs-vertical-env {
  background-color: #eeeeee;
  margin-bottom: 30px;
}

.tabs-vertical-env .tab-content {
  background: #ffffff;
  display: table-cell;
  margin-bottom: 30px;
  padding: 30px;
  vertical-align: top;
}

.tabs-vertical-env .nav.tabs-vertical {
  display: table-cell;
  min-width: 120px;
  vertical-align: top;
  width: 150px;
}

.tabs-vertical-env .nav.tabs-vertical li.active > a {
  background-color: #ffffff;
  border: 0;
}

.tabs-vertical-env .nav.tabs-vertical li > a {
  color: #333333;
  text-align: center;
  white-space: nowrap;
}

.nav.nav-tabs > li > a.active {
  background-color: #ffffff;
  border: 0;
}

.nav.nav-tabs > li > a, .nav.tabs-vertical > li > a {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #333333 !important;
  cursor: pointer;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav.nav-tabs > li > a:hover, .nav.tabs-vertical > li > a:hover {
  color: #2b4049 !important;
}

.tab-content {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #777777;
}

.nav.nav-tabs > li:last-of-type a {
  margin-right: 0px;
}

.nav.nav-tabs {
  border-bottom: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.navtab-bg {
  background-color: #eeeeee;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus, .tabs-vertical-env .nav.tabs-vertical li.active > a {
  border: none;
}

.nav-tabs > li > a.active, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover, .tabs-vertical > li > a.active, .tabs-vertical > li > a:focus, .tabs-vertical > li > a:hover {
  color: #2b4049 !important;
}

.tabs-vertical-env .tab-content {
  margin-bottom: 0px;
}

.card-box .card {
  margin-bottom: 5px;
}

.card-box .card .card-header a[data-toggle=collapse].collapsed:before {
  content: '\f067';
}

.card-box .card .card-header .accordion-toggle.collapsed:before {
  content: '\f067';
}

.card-box .card .card-header a[data-toggle=collapse] {
  display: block;
  color: #ffffff;
}

.card-box .card .card-header a[data-toggle=collapse]:before {
  content: '\f068';
  display: block;
  float: right;
  font-family: 'FontAwesome';
  font-size: 14px;
  text-align: right;
  width: 25px;
}

.card-box .card .card-header .accordion-toggle {
  display: block;
}

.card-box .card .card-header .accordion-toggle:before {
  content: '\f068';
  display: block;
  float: right;
  font-family: 'FontAwesome';
  font-size: 14px;
  text-align: right;
  width: 25px;
}

.card-box .card-header {
  padding: 12px 26px;
}

.modal .modal-dialog .modal-content {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #DDDDDD;
  border-radius: 2px;
  box-shadow: none;
  padding: 30px;
}

.modal .modal-dialog .modal-content .modal-header {
  border-bottom-width: 2px;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 20px 0;
}

.modal .modal-dialog .modal-content .modal-footer {
  padding: 0;
  padding-top: 15px;
}

.modal-full {
  max-width: 98%;
}

.modal-content .nav.nav-tabs + .tab-content {
  margin-bottom: 0px;
}

.alert-success {
  background-color: #d3f1f0;
  border-color: #c4eceb;
  color: #58c9c7;
}

.alert-success .alert-link {
  color: #58c9c7;
}

.alert-info {
  background-color: #b3ddef;
  border-color: #a2d5eb;
  color: #2b9ac9;
}

.alert-info .alert-link {
  color: #2b9ac9;
}

.alert-warning {
  background-color: #fff7d9;
  border-color: #fff3c5;
  color: #ffd740;
}

.alert-warning .alert-link {
  color: #ffd740;
}

.alert-danger {
  background-color: #fcdddc;
  border-color: #facac9;
  color: #ef5350;
}

.alert-danger .alert-link {
  color: #ef5350;
}

/* ==============
  Progressbars
===================*/
.progress {
  -webkit-box-shadow: none !important;
  background-color: #f5f5f5;
  box-shadow: none !important;
  height: 10px;
  margin-bottom: 18px;
  overflow: hidden;
}

.progress-bar {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 8px;
  font-weight: 600;
  line-height: 12px;
}

.progress.progress-sm {
  height: 5px !important;
}

.progress.progress-sm .progress-bar {
  font-size: 8px;
  line-height: 5px;
}

.progress.progress-md {
  height: 15px !important;
}

.progress.progress-md .progress-bar {
  font-size: 10.8px;
  line-height: 14.4px;
}

.progress.progress-lg {
  height: 20px !important;
}

.progress.progress-lg .progress-bar {
  font-size: 12px;
  line-height: 20px;
}

.progress-bar-primary {
  background-color: #2b4049;
}

.progress-bar-success {
  background-color: #58c9c7;
}

.progress-bar-info {
  background-color: #2b9ac9;
}

.progress-bar-warning {
  background-color: #ffd740;
}

.progress-bar-danger {
  background-color: #ef5350;
}

.progress-bar-inverse {
  background-color: #212121;
}

.progress-bar-purple {
  background-color: #7e57c2;
}

.progress-bar-pink {
  background-color: #ec407a;
}

.progress-animated {
  -webkit-animation-duration: 5s;
  -webkit-animation-name: animationProgress;
  -webkit-transition: 5s all;
  animation-duration: 5s;
  animation-name: animationProgress;
  transition: 5s all;
}

/* Progressbar Animated */
@-webkit-keyframes animationProgress {
  from {
    width: 0;
  }
}

@keyframes animationProgress {
  from {
    width: 0;
  }
}

/* ==============
  Sweet Alert
===================*/
.swal2-popup .swal2-content {
  font-size: 14px;
  line-height: 22px;
  color: #797979;
}

button.swal2-confirm {
  background-color: #2b4049 !important;
  border-color: #2b4049 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* ==============
  Portlets
===================*/
.portlet {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: all 0.4s;
}

.portlet .portlet-heading {
  border-radius: 3px;
  color: #ffffff;
  padding: 12px 20px;
}

.portlet .portlet-heading .portlet-title {
  color: #ffffff;
  float: left;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
}

.portlet .portlet-heading .portlet-widgets {
  float: right;
  font-size: 15px;
  line-height: 30px;
  padding-left: 15px;
  position: relative;
  text-align: right;
}

.portlet .portlet-heading .portlet-widgets .divider {
  margin: 0 5px;
}

.portlet .portlet-heading a {
  color: #999999;
}

.portlet .portlet-body {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  background: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
}

.portlet-default .portlet-title {
  color: #797979 !important;
}

.portlet .portlet-heading.bg-purple a, .portlet .portlet-heading.bg-info a, .portlet .portlet-heading.bg-success a, .portlet .portlet-heading.bg-primary a, .portlet .portlet-heading.bg-danger a, .portlet .portlet-heading.bg-warning a, .portlet .portlet-heading.bg-inverse a, .portlet .portlet-heading.bg-pink a {
  color: #ffffff;
}

.loader-1 {
  -webkit-animation: loaderAnimate 1000ms linear infinite;
  animation: loaderAnimate 1000ms linear infinite;
  clip: rect(0, 30px, 30px, 15px);
  height: 30px;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  width: 30px;
}

.loader-1:after {
  -webkit-animation: loaderAnimate2 1000ms ease-in-out infinite;
  animation: loaderAnimate2 1000ms ease-in-out infinite;
  border-radius: 50%;
  clip: rect(0, 30px, 30px, 15px);
  content: '';
  height: 30px;
  position: absolute;
  width: 30px;
}

/* Portlets loader */
@-webkit-keyframes loaderAnimate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(220deg);
  }
}

@keyframes loaderAnimate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
}

@-webkit-keyframes loaderAnimate2 {
  0% {
    -webkit-box-shadow: inset #555 0 0 0 8px;
            box-shadow: inset #555 0 0 0 8px;
    -webkit-transform: rotate(-140deg);
  }
  50% {
    -webkit-box-shadow: inset #555 0 0 0 2px;
            box-shadow: inset #555 0 0 0 2px;
  }
  100% {
    -webkit-box-shadow: inset #555 0 0 0 8px;
            box-shadow: inset #555 0 0 0 8px;
    -webkit-transform: rotate(140deg);
  }
}

@keyframes loaderAnimate2 {
  0% {
    -webkit-box-shadow: inset #555 0 0 0 8px;
            box-shadow: inset #555 0 0 0 8px;
    -webkit-transform: rotate(-140deg);
    transform: rotate(-140deg);
  }
  50% {
    -webkit-box-shadow: inset #555 0 0 0 2px;
            box-shadow: inset #555 0 0 0 2px;
  }
  100% {
    -webkit-box-shadow: inset #555 0 0 0 8px;
            box-shadow: inset #555 0 0 0 8px;
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
  }
}

@keyframes loaderAnimate2 {
  0% {
    -webkit-box-shadow: inset #999 0 0 0 17px;
            box-shadow: inset #999 0 0 0 17px;
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  50% {
    -webkit-box-shadow: inset #999 0 0 0 2px;
            box-shadow: inset #999 0 0 0 2px;
  }
  100% {
    -webkit-box-shadow: inset #999 0 0 0 17px;
            box-shadow: inset #999 0 0 0 17px;
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}

/* ==============
  Widgets
===================*/
.widget-s-1 {
  border-radius: 6px;
}

.mini-stat {
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 20px;
  color: #ffffff;
}

.mini-stat-icon {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  float: left;
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  margin-right: 10px;
  text-align: center;
  width: 60px;
}

.mini-stat-info {
  padding-top: 2px;
  color: #eeeeee;
}

.mini-stat-info span {
  color: #ffffff;
  display: block;
  font-size: 24px;
  font-weight: 600;
}

.mini-stat-info span.name {
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
}

.inbox-widget .inbox-item {
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
  padding: 10px 0;
  position: relative;
}

.inbox-widget .inbox-item .inbox-item-img {
  display: block;
  float: left;
  margin-right: 15px;
  width: 40px;
}

.inbox-widget .inbox-item img {
  width: 40px;
}

.inbox-widget .inbox-item .inbox-item-author {
  color: #333333;
  display: block;
  margin: 0;
}

.inbox-widget .inbox-item .inbox-item-text {
  color: #a0a0a0;
  display: block;
  font-size: 12px;
  margin: 0;
}

.inbox-widget .inbox-item .inbox-item-date {
  color: #a9a9a9;
  font-size: 11px;
  position: absolute;
  right: 7px;
  top: 2px;
}

.conversation-list {
  list-style: none;
  max-height: 330px;
  padding: 0px 20px;
}

.conversation-list li {
  margin-bottom: 24px;
}

.conversation-list .chat-avatar {
  display: inline-block;
  float: left;
  text-align: center;
  width: 40px;
}

.conversation-list .chat-avatar img {
  border-radius: 100%;
  width: 100%;
}

.conversation-list .chat-avatar i {
  font-size: 12px;
  font-style: normal;
}

.conversation-list .ctext-wrap {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #f5f5f5;
  border-radius: 3px;
  display: inline-block;
  padding: 10px;
  position: relative;
}

.conversation-list .ctext-wrap i {
  color: #1a2942;
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  position: relative;
}

.conversation-list .ctext-wrap p {
  margin: 0px;
  padding-top: 3px;
}

.conversation-list .ctext-wrap:after {
  right: 100%;
  top: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(213, 242, 239, 0);
  border-right-color: #f5f5f5;
  border-width: 5px;
  margin-top: -5px;
}

.conversation-list .conversation-text {
  display: inline-block;
  float: left;
  font-size: 12px;
  margin-left: 12px;
  width: 70%;
}

.conversation-list .odd .chat-avatar {
  float: right !important;
}

.conversation-list .odd .conversation-text {
  float: right !important;
  margin-right: 12px;
  text-align: right;
  width: 70% !important;
}

.conversation-list .odd .ctext-wrap {
  background: #e8e9ec !important;
}

.conversation-list .odd .ctext-wrap i {
  color: #acacac;
}

.conversation-list .odd .ctext-wrap:after {
  border-color: rgba(238, 238, 242, 0) !important;
  border-left-color: #e8e9ec !important;
  left: 100% !important;
  top: 20% !important;
}

.chat-send {
  padding-left: 0px;
  padding-right: 30px;
}

.chat-send button {
  width: 100%;
}

.chat-inputbar {
  padding-left: 30px;
}

#todo-message {
  font-size: 16px;
}

.todoapp {
  padding: 10px 30px 20px 30px !important;
}

.todo-list li {
  border-bottom: 1px solid #eeeeee;
  border-radius: 0px;
  border: 0px;
  margin: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.todo-list li:last-of-type {
  border-bottom: none;
}

.todo-send {
  padding-left: 0px;
}

/* ==============
  rangeslider
===================*/
.irs-line-mid, .irs-line-left, .irs-line-right, .irs-bar, .irs-bar-edge, .irs-slider {
  background: none;
}

.irs-from, .irs-to, .irs-single {
  background: #2b9ac9;
}

.irs-from:after, .irs-to:after, .irs-single:after {
  border-top-color: #2b9ac9;
}

.irs-bar {
  background-color: #2b9ac9;
}

.irs-line-left {
  background-color: #eeeeee;
  border-radius: 3px 0 0 3px;
}

.irs-line-mid {
  background-color: #eeeeee;
}

.irs-line-right {
  background-color: #eeeeee;
  border-radius: 0 3px 3px 0;
}

/* ==============
  Gallery
===================*/
.portfolioFilter {
  padding: 0px;
}

.portfolioFilter li {
  list-style: none;
  display: inline-block;
}

.portfolioFilter li a {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #333333;
  padding: 5px 10px;
  transition: all 0.3s ease-out;
}

.portfolioFilter li a:hover {
  background-color: #2b4049;
  color: #ffffff;
}

.portfolioFilter li a.current {
  background-color: #2b4049;
  color: #ffffff;
}

.thumb {
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 100%;
}

.thumb-img {
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
}

.gal-detail h4 {
  margin-top: 16px;
}

/* ==============
  Pricing
===================*/
.pricing-plan {
  padding-bottom: 50px;
}

.price_card {
  -moz-border-radius: 5px;
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  background: #fafafa;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding-bottom: 20px;
  position: relative;
}

.price_card .name {
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 0 0 30px;
  text-align: center;
  width: 100%;
}

.price_card button {
  margin-top: 20px;
}

.pricing-header {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}

.price {
  display: block;
  font-size: 48px;
  font-weight: 300;
  padding: 30px 0 10px;
  text-align: center;
  width: 100%;
}

.price-features {
  color: #8a8a8a;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.price-features li {
  margin: 0 35px;
  padding: 20px 15px;
}

.pricing-item {
  margin: 0 0 30px;
  position: relative;
  text-align: center;
}

.pricing-item-inner {
  -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  border-radius: 7px;
  border: 2px solid rgba(151, 160, 175, 0.2);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  vertical-align: middle;
}

.pricing-wrap {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 30px 20px;
  position: relative;
  text-align: center;
}

.pricing-icon {
  font-size: 32px;
  padding-bottom: 5px;
  padding-top: 10px;
  position: relative;
  z-index: 1;
}

.pricing-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.pr-list {
  color: #97a0af;
  font-size: 12px;
  font-weight: 400;
  margin: 0 -20px 30px;
  padding: 0;
  text-transform: uppercase;
}

.pr-list li {
  list-style: none;
  padding: 12px 20px;
}

.pricing-num {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}

.pricing-num sup {
  font-size: 18px;
  font-weight: 400;
  left: -3px;
  margin-left: -7px;
  position: relative;
  top: -20px;
}

.pr-per {
  color: #97a0af;
  font-size: 12px;
}

.pr-button {
  margin-top: 30px;
}

/* ==============
  Form-elements
===================*/
.form-control {
  -moz-border-radius: 2px;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  border-radius: 2px;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.form-control:focus {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

label {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.input-group-text {
  border-color: #eeeeee;
}

.input-lg {
  height: 46px;
  padding: 10px 16px;
  line-height: 1.3333333;
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* ==============
  form advanced
===================*/
.bootstrap-touchspin .input-group-btn .btn {
  font-size: 16px;
}

.input-group .form-control:not(:first-child), .input-group-addon:not(:first-child), .input-group-btn:not(:first-child) > .btn, .input-group-btn:not(:first-child) > .btn-group > .btn, .input-group-btn:not(:first-child) > .dropdown-toggle, .input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn, .input-group-btn:not(:last-child) > .btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn, .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group > .btn, .input-group-btn:not(:last-child) > .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.error {
  color: #ff0000;
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > td {
  padding: 5px;
}

.datepicker {
  border: 1px solid #dddddd;
  padding: 8px !important;
}

.datepicker th, .datepicker td {
  font-size: 14px !important;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
}

.search-input {
  margin-bottom: 10px;
}

.ms-selectable {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important;
}

.ms-container .ms-list.ms-focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ms-container .ms-selectable li.ms-hover {
  background-color: #2b4049;
}

.ms-container .ms-selection li.ms-hover {
  background-color: #2b4049;
}

.spinner-buttons.btn-group-vertical .btn {
  background-color: #eeeeee;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  height: 17px;
  line-height: 16px;
  margin: 0;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
  width: 22px;
}

.spinner-buttons.btn-group-vertical .btn i {
  color: #333333 !important;
  line-height: 10px;
  margin-top: -3px;
}

.spinner-buttons.btn-group-vertical .btn:first-child {
  border-radius: 0 0px 0 0 !important;
}

.spinner-buttons.btn-group-vertical .btn:last-child {
  border-radius: 0 0 0px !important;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
  background-color: #2b4049 !important;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Select 2 */
.select2-container {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  border: 1px solid #E3E3E3 !important;
  height: 38px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 36px !important;
  padding-left: 12px !important;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  height: 34px;
  width: 34px;
  right: 3px;
}

.select2-container .select2-selection--single .select2-selection__arrow b {
  border-color: #999 transparent transparent transparent;
  border-width: 6px 6px 0 6px;
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #999 transparent !important;
  border-width: 0 6px 6px 6px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #2b4049;
}

.select2-results__option {
  padding: 6px 12px;
}

.select2-dropdown {
  border: 1px solid #e3e3e3 !important;
  padding-top: 5px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.select2-search input {
  border: 1px solid #e3e3e3 !important;
}

.select2-container .select2-selection--multiple {
  min-height: 38px !important;
  border: 1px solid #e3e3e3 !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  padding: 2px 10px;
}

.select2-container .select2-selection--multiple .select2-search__field {
  margin-top: 7px;
  border: 0 !important;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 1px;
  padding: 0 7px;
}

/* Timepiker */
.bootstrap-timepicker-widget table td input {
  border: none;
}

.wizard > .content {
  background: #ffffff;
  min-height: 240px;
  padding: 20px;
}

.wizard > .content > .body {
  padding: 0px;
}

.wizard > .content > .body input {
  border: 1px solid #eeeeee;
}

.wizard > .content > .body ul > li {
  display: block;
  line-height: 30px;
}

.wizard > .content > .body label.error {
  color: #e55957;
  margin-left: 0;
}

.wizard > .steps .number {
  border-radius: 50%;
  display: inline-block;
  line-height: 30px;
  margin-right: 10px;
}

.wizard > .steps .disabled a {
  background: #f2f2f2;
  color: #333333;
  cursor: default;
}

.wizard > .steps .disabled a:hover {
  background: #f2f2f2;
  color: #333333;
  cursor: default;
}

.wizard > .steps .disabled a:active {
  background: #f2f2f2;
  color: #333333;
  cursor: default;
}

.wizard > .steps .current a {
  background: #2b4049;
}

.wizard > .steps .current a:hover {
  background: #2b4049;
}

.wizard > .steps .current a:hover .number {
  background: transparent;
  color: #ffffff;
}

.wizard > .steps .current a:active {
  background: #2b4049;
}

.wizard > .steps .current a:active .number {
  background: transparent;
  color: #ffffff;
}

.wizard > .steps .current a .number {
  background: transparent;
  color: #ffffff;
}

.wizard > .steps .done a {
  background: #cccccc;
}

.wizard > .steps .done a:hover {
  background: #cccccc;
}

.wizard > .steps .done a:active {
  background: #cccccc;
}

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active, .wizard > .content {
  border-radius: 2px;
}

.wizard > .actions {
  margin-bottom: 30px;
}

.wizard > .actions a {
  background: #2b4049;
  border-radius: 2px;
  color: #ffffff;
}

.wizard > .actions a:hover {
  background: #2b4049;
  border-radius: 2px;
  color: #ffffff;
}

.wizard > .actions a:active {
  background: #2b4049;
  border-radius: 2px;
  color: #ffffff;
}

.wizard > .actions .disabled a {
  background: #e2e2e2;
  color: #333333;
}

.wizard > .actions .disabled a:hover {
  background: #e2e2e2;
  color: #333333;
}

.wizard > .actions .disabled a:active {
  background: #e2e2e2;
  color: #333333;
}

.note-editor {
  position: relative;
}

.note-editor.note-frame {
  border: 1px solid #eeeeee;
}

.note-editor .note-toolbar {
  background-color: #f3f3f3;
  border-bottom: 1px solid #dddddd;
  margin: 0;
}

.note-editor .note-statusbar {
  background-color: #ffffff;
}

.note-editor .note-statusbar .note-resizebar {
  border-top: 1px solid #dddddd;
  height: 15px;
  padding-top: 3px;
}

.note-popover .popover .popover-content {
  padding: 5px 0 10px 5px;
}

.note-toolbar {
  padding: 5px 0 10px 5px;
}

.wysihtml5-toolbar .dropdown-toggle:after {
  display: none;
}

.code-edit-wrap {
  padding: 0px !important;
}

.cm-s-ambiance .CodeMirror-linenumber {
  color: #bcbcbc;
}

.cm-s-ambiance .CodeMirror-gutters {
  background-color: #212121 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cm-s-ambiance.CodeMirror {
  background-color: #212121 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bootstrap-timepicker-widget table td a:hover {
  background-color: transparent;
  border-color: transparent;
  border-radius: 4px;
  color: #2b4049;
  text-decoration: none;
}

.editor-horizontal .popover-content {
  padding: 9px 30px;
}

/* Dropzone */
.dropzone {
  min-height: 230px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  background: #ffffff;
  border-radius: 6px;
}

.dropzone .dz-message {
  font-size: 30px;
}

.fileupload {
  overflow: hidden;
  position: relative;
}

.fileupload input.upload {
  cursor: pointer;
  filter: alpha(opacity=0);
  font-size: 20px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* ==============
  Tables
===================*/
.table {
  margin-bottom: 10px;
}

tbody {
  color: #797979;
}

th {
  color: #666666;
  font-size: 15px;
}

table.focus-on tbody tr.focused th {
  background-color: #2b4049;
  color: #ffffff;
}

table.focus-on tbody tr.focused td {
  background-color: #2b4049;
  color: #ffffff;
}

.table > thead > tr > td.middle-align, .table > tbody > tr > td.middle-align,
.table > tfood > tr > td.middle-align, .table > thead > tr > th.middle-align,
.table > tbody > tr > th.middle-align, .table > tfood > tr > th.middle-align {
  vertical-align: middle;
}

.legendLabel {
  padding-left: 10px !important;
}

.table-rep-plugin tbody th {
  font-size: 14px;
  font-weight: normal;
}

.modal-block {
  background: transparent;
  margin: 40px auto;
  max-width: 600px;
  padding: 0;
  position: relative;
  text-align: left;
}

.dt-buttons {
  float: left;
}

div#datatable-buttons_info {
  float: left;
}

table.dataTable th.focus, table.dataTable td.focus {
  outline: 3px solid #2b4049 !important;
  outline-offset: -1px;
}

.fixedHeader-floating {
  top: 70px !important;
}

#datatable-editable .actions a {
  padding: 5px;
}

#datatable-editable .form-control {
  background-color: #ffffff;
  width: 100%;
}

#datatable-editable .fa-trash-o {
  color: #ef5350;
}

#datatable-editable .fa-times {
  color: #ef5350;
}

#datatable-editable .fa-pencil {
  color: #29b6f6;
}

#datatable-editable .fa-save {
  color: #33b86c;
}

#datatable td {
  font-weight: normal;
}

div.dataTables_paginate ul.pagination {
  margin-top: 30px;
}

div.dataTables_info {
  padding-top: 38px;
}

.table-rep-plugin .btn-toolbar {
  display: block;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.fixed-solution .sticky-table-header {
  top: 70px !important;
}

/* ==============
  Charts
===================*/
.jqstooltip {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.chart.chart-widget-pie {
  margin-top: 5px;
  margin-bottom: 5px;
}

.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}

.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

/*********** morris charts ***********/
.morris-charts text {
  font-family: "Noto Sans", sans-serif !important;
}

/*********** flot charts ***********/
#flotTip {
  padding: 4px 8px;
  background-color: #000000;
  z-index: 100;
  color: #ffffff;
  opacity: .7;
  font-size: 12px;
  border-radius: 5px;
}

.flot-chart .error {
  display: none;
}

/* ==============
  Maps
===================*/
.gmaps, .gmaps-panaroma {
  height: 300px;
  background: #eeeeee;
  border-radius: 3px;
}

.gmaps-overlay {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
  background: #2b4049;
  border-radius: 4px;
  padding: 10px 20px;
}

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}

.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #2b4049;
}

.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #2b4049;
}

/* ==============
  Profile
===================*/
.bg-img {
  background: url("../images/small/bg.jpg") center;
}

.bg-overlay {
  -moz-border-radius: 6px 6px 0px 0px;
  -webkit-border-radius: 6px 6px 0px 0px;
  background-color: rgba(49, 126, 235, 0.4);
  border-radius: 6px 6px 0px 0px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bg-picture {
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -20px -25px 0px -25px;
  padding: 100px 0px;
  position: relative;
}

.bg-picture > .bg-picture-overlay {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.4)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.4) 100%);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.profile-info-name {
  position: relative;
}

.profile-tab-content {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin-top: 35px;
}

.profile-tab-content .card-fill .card-body {
  color: #333333;
}

.user-tabs {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-left: -35px;
  padding-left: 25px;
}

.user-tabs .nav.nav-tabs {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.user-tabs .nav.nav-tabs a {
  text-transform: uppercase;
}

.user-tabs .pull-right .btn {
  margin-top: 8px;
}

.about-info-p {
  margin-bottom: 20px;
}

.about-info-p p {
  font-size: 16px;
}

/* ==============
  Timeline-2
===================*/
.timeline-2 {
  border-left: 2px solid #14082d;
  position: relative;
}

.timeline-2 .time-item:after {
  background-color: #ffffff;
  border-color: #14082d;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  bottom: 0;
  content: '';
  height: 14px;
  left: 0;
  margin-left: -8px;
  position: absolute;
  top: 5px;
  width: 14px;
}

.time-item {
  border-color: #dee5e7;
  padding-bottom: 1px;
  position: relative;
}

.time-item:before {
  content: " ";
  display: table;
}

.time-item:after {
  background-color: #ffffff;
  border-color: #14082d;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  bottom: 0;
  content: '';
  height: 14px;
  left: 0;
  margin-left: -8px;
  position: absolute;
  top: 5px;
  width: 14px;
}

.time-item-item:after {
  content: " ";
  display: table;
}

.item-info {
  margin-bottom: 15px;
  margin-left: 15px;
}

.item-info p {
  margin-bottom: 10px !important;
}

/* ==============
  Timeline
===================*/
.cd-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

#cd-timeline {
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 2em 0;
  position: relative;
}

#cd-timeline::before {
  background: #ffffff;
  content: '';
  height: 100%;
  left: 18px;
  position: absolute;
  top: 0;
  width: 4px;
}

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-bottom: 3em;
    margin-top: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  margin: 2em 0;
  position: relative;
}

.cd-timeline-block:after {
  clear: both;
  content: "";
  display: table;
}

.cd-timeline-block:first-child {
  margin-top: 0;
}

.cd-timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
}

.cd-timeline-img.cd-success {
  background: #58c9c7;
}

.cd-timeline-img.cd-info {
  background: #2b9ac9;
}

.cd-timeline-img.cd-pink {
  background: #ec407a;
}

.cd-timeline-img.cd-danger {
  background: #ef5350;
}

.cd-timeline-img.cd-primary {
  background: #2b4049;
}

.cd-timeline-img.cd-warning {
  background: #ffd740;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    line-height: 60px;
    left: 50%;
    margin-left: -30px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

.cd-timeline-content {
  -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 0;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  margin-left: 60px;
  padding: 1em;
  position: relative;
}

.cd-timeline-content img {
  display: block;
  width: 100%;
}

.cd-timeline-content:after {
  clear: both;
  content: "";
  display: table;
}

.cd-timeline-content h2 {
  margin-top: 0;
}

.cd-timeline-content p {
  color: #666666;
  font-size: 14px;
  margin: 10px 0px 10px 0px;
}

.cd-timeline-content .cd-read-more {
  background: #acb7c0;
  border-radius: 0.25em;
  color: white;
  display: inline-block;
  float: right;
  font-size: 14px;
  padding: .8em 1em;
}

.cd-timeline-content .cd-date {
  display: inline-block;
  font-size: 14px;
}

.cd-timeline-content h3 {
  font-size: 21px;
  margin: 0px;
}

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

/* Bounce 1 */
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Bounce 2 */
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media print {
  .logo, .page-title, .breadcrumb, .footer {
    display: none !important;
    margin: 0px !important;
    padding: 0px !important;
  }
  .left {
    display: none;
  }
  .right-bar {
    display: none !important;
  }
  .content {
    margin-top: 0px;
    padding-top: 0px;
  }
  .content-page {
    margin-left: 0px !important;
    margin-top: 0px;
  }
}

/* ==============
  Maintenance
===================*/
.icon-main {
  font-size: 88px;
  margin-bottom: 50px;
}

.maintenance-page {
  margin: 10% 0%;
}

.mainten-box {
  margin-bottom: 30px;
}

.mainten-box .text-m-mode {
  margin: 0px auto;
  width: 80%;
}

.media-main a.pull-left {
  width: 100px;
}

.media-main .info {
  color: #000000;
  overflow: hidden;
}

.media-main .info h4 {
  margin-bottom: 5px;
  padding-top: 10px;
}

/* ==============
  Count Down
===================*/
.home-wrapper {
  margin: 17% 0px;
}

.lj-countdown {
  color: #2b4049;
  margin-top: 40px;
  text-align: center;
}

.lj-countdown div {
  display: inline-block;
}

.lj-countdown div span {
  display: block;
  width: 150px;
}

.lj-countdown div span:first-child {
  font-size: 3em;
  font-weight: 700;
  height: 48px;
  line-height: 48px;
}

.lj-countdown div span:last-child {
  color: #333333;
  font-size: 0.9em;
  height: 25px;
  line-height: 25px;
}

.lj-countdown > * {
  text-align: center;
}

/* ==============
  Account pages
===================*/
.wrapper-page {
  margin: 7.5% auto;
  width: 420px;
}

.card-pages {
  border-radius: 6px;
}

.card-pages .card-body {
  padding: 30px;
}

.card-pages .card-header {
  border-radius: 6px 6px 0px 0px;
  padding: 40px 20px;
  position: relative;
}

.card-pages .card-header h3 {
  position: relative;
  z-index: 999;
}

.user-thumb {
  margin-top: -44px;
  position: relative;
  z-index: 999;
}

.user-thumb img {
  height: 88px;
  margin: 0px auto;
  width: 88px;
}

.ex-page-content h1 {
  color: #252932;
  font-size: 98px;
  font-weight: 700;
  line-height: 150px;
  text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
}

/*
Template Name: Moltran - Responsive Bootstrap 4 Admin Dashboard
Author: CoderThemes
Email: coderthemes@gmail.com
File: Responsive
*/
@media only screen and (max-width: 6000px) and (min-width: 700px) {
  .wrapper.right-bar-enabled .right-bar {
    right: 0;
    z-index: 99;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .content-page {
    margin-left: 0px !important;
  }
  .enlarged .left.side-menu {
    margin-left: -75px;
  }
  .mobile-sidebar {
    left: 0px;
  }
  .mobile-content {
    left: 250px;
    right: -250px;
  }
  .wrapper-page {
    width: 90%;
  }
  .navbar-right .show .dropdown-menu {
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    left: auto;
    position: absolute;
    right: 0;
  }
  .todo-send {
    margin-top: 10px;
    padding-left: 15px;
  }
  .chat-inputbar {
    padding-left: 15px;
  }
  .chat-send {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .wizard > .steps > ul > li {
    width: 100%;
  }
  .wizard > .content {
    padding: 0px !important;
  }
  .wizard > .content > .body {
    float: none;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0%;
  }
  .wizard.vertical > .steps {
    display: inline;
    float: none;
    width: 100%;
  }
  .wizard.vertical > .content {
    display: inline;
    float: none;
    margin: 0%;
    width: 100%;
  }
  .footer {
    left: 0px !important;
  }
}

@media (max-width: 480px) {
  .side-menu {
    z-index: 10 !important;
  }
  .button-menu-mobile {
    display: block;
  }
  .search-bar {
    display: none !important;
  }
}

@media (max-width: 420px) {
  .hide-phone {
    display: none !important;
  }
  .topbar-left {
    width: 50px !important;
  }
  .logo span {
    display: none !important;
  }
  .logo i {
    margin-right: 0px;
  }
}

/* Container-alt */
@media (min-width: 768px) {
  .container-alt {
    width: 750px;
  }
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
}

@media (min-width: 992px) {
  .container-alt {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container-alt {
    width: 1170px;
  }
}
/*# sourceMappingURL=style.css.map */


span#form-error {
  display: block;
  margin-bottom: 1.5em;
}

span.form-error {
  color: tomato;
}

span.form-success {
  color: green;
}

table#fancy-table {
  width: 100%;
}

div#fancy-table_wrapper {
  overflow: auto;
}

div.action-row {
  width: 100%;
}

/* Toggle switch css */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2b4049;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2b4049;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Toggle switch css --- end */


.bet-status-select {
  width: 15em;
}